 <footer role="contentinfo">
	        <h3 class="brand"><img src="{{site.baseurl }}/img/pictos/logo-noir.png" alt="Page Cinquante Trois" class="logo-footer" /><span >{{ site.title }}</span></h3> 
	         <p class="description">{{ site.description }} <span class="class="rss-subscribe""> || subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></span></p>
	          
	        <nav>
	        	<ul class="navigation-secondaire">
	        		<li><a class="page-link" href="{{ site.baseurl }}/">Home</a></li>
	        		<li><a class="page-link" href="{{ site.baseurl }}/About/">Qui suis je ?</a></li>
	        		<li><a class="page-link" href="{{ site.baseurl }}/Lisez_Ailleurs">Lisez Ailleurs</a></li>
	        		<li><a class="page-link" href="{{ site.baseurl }}/Ma_Pal">Ma Pal</a></li>
	        		<li><a class="page-link" href="{{ site.baseurl }}/Challenge_2015">Le challenge 2015</a></li>
	        		<li><a class="page-link" href="{{ site.baseurl }}/Archive">Archive</a></li>
	            </ul>
	       
	        
		        <ul class="social-link ">
			        <li><a href="https://twitter.com/" title="lvdesign twitter"><img src="{{site.baseurl }}/img/pictos/socials/twitter.png" alt="lvdesign twitter" title="lvdesign twitter" /><span class="hide">lvdesign twitter</span></a></li>
			       
			        <li><a href="https://fr-fr.facebook.com/"  title="lvdesign facebook"><img src="{{site.baseurl }}/img/pictos/socials/facebook.png" alt="lvdesign facebook" title="lvdesign facebook" /><span class="hide">lvdesign facebook</span></a></li>
			        <li ><a href="https://www.pinterest.com/"  title="lvdesign pinterest" ><img src="{{site.baseurl }}/img/pictos/socials/pinterest.png" alt="lvdesign pinterest" title="lvdesign pinterest" /><span class="hide">lvdesign pinterest</span></a></li>
			        <li ><a href="https://www.pinterest.com/"  title="hellocotton" ><img src="{{site.baseurl }}/img/pictos/socials/hellocoton.png" alt="hellocotton" title="hellocotton" /><span class="hide">hellocotton</span></a></li>
		        </ul>
	         </nav>
        </footer>
              
        
        
        

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ "/js/vendor/jquery-1.11.3.min.js" | prepend: site.baseurl }}"><\/script>')</script>
       <script type="text/javascript" src="{{ "/js/vendor/instafeed.min.js" | prepend: site.baseurl }}"></script>
        <script src="{{ "/js/vendor/app.js" | prepend: site.baseurl }}" ></script>
       <script src="{{ "/js/vendor/hide-address-bar.js" | prepend: site.baseurl }}" ></script>
        <script src="{{ "/j/site.min.js" | prepend: site.baseurl }}"></script>
       
                       

    </body>
</html>